.footer{
  color: white;
  display: flex;
  align-items: center;
  border-radius: 4px; 
  line-height:25px;
}

.footer img {
    width: 50px;
    margin-right: 70px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.footer a:hover a:focus {
    opacity: .5;
}
    
.footer span {
    text-decoration: underline;
}